@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&family=Ubuntu:wght@300;400;700&display=swap");
$color: #2490eb;
$darkcolor: #14457b;
$seccolor: #18100f;
$bgc: #e0f0fd;
img{
  width: fit-content;
}
* {
  box-sizing: border-box;
  font-family: "Tilt Neon", cursive;
  font-family: "Ubuntu", sans-serif;
  text-transform: capitalize;
  font-display: swap;
}
body {
  width: 100vw;
  background-color: $bgc;

  margin: 0;
  nav {
    padding-inline: 20px;
    height: 100px;
    display: flex;
    z-index: 30000;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    position: fixed;
    width: 100vw;
    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: fill-available;
      list-style-type: none;
      li {
        a {
          display: flex;
          color: $seccolor;
          text-decoration: none;
          gap: 4px;
          transition: 0.2s ease-in-out;
          svg {
            width: 10px;
          }

          &[href="#"],
          &:hover {
            color: $color;
          }
        }
        .droplist {
          display: none;
          position: absolute;
          padding-block: 10px;
          background-color: $bgc;
          flex-direction: column;
          top: 80%;
          justify-content: space-evenly;
          > p {
            margin: 0;
            transition: 0.2s ease-in-out;
            cursor: pointer;
            padding: 10% 5px;
            font-size: 0.8rem;
            &:hover {
              background-color: $color;
              color: #fff;
            }
            a {
              transition: none;
              color: inherit;
            }
          }

          &.active {
            display: flex;
          }
        }
      }
    }
  }
}
:has(> .overlay) {
  position: relative;
  > :not(.overlay) {
    position: relative;
    z-index: 2;
  }
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: #00000070;
  position: absolute;
}
main {
  > * {
    padding-inline: 20px;
  }
  .landing {
    width: 100vw;
    max-width: 1200px;
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-image: url(./images/2.jpg);
    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
      color: $color;
    }
    p {
      color: #fff;
      span {
        color: $color;
      }
    }
  }
}
